@use "sass:math";
@use '../mixins' as m;

.particle-container{
    position: absolute;
    top: -70%;

    @include m.breakpoint-down(medium){
        top: -120%;
    }

    .particle {
        position: absolute;
        border-radius: 50%;
    }
}




@for $i from 1 through 30 {
	@keyframes particle-animation-#{$i} {
		100% {
			transform: translate3d((math.random(90) * 1vw), (math.random(90) * 1vh), (math.random(100) * 1px));
		}
	}
	
	.particle:nth-child(#{$i}){
		animation: particle-animation-#{$i} 2550ms infinite;
		$size: math.random(5) + 5 + px;
        opacity: math.div(math.random(100), 100);
		height: $size;
		width: $size;
		animation-delay: -$i * .2s;
		transform: translate3d((math.random(90) * 1vw), (math.random(90) * 1vh), (math.random(100) * 1px));
		background: hsl(math.random(360), 70%, 50%);
	}
}