@use '../variables' as v;
@use '../mixins' as m;


.blog{


    &__grid{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 5rem;

        @include m.breakpoint-up(large){
            grid-template-columns: 2fr 1fr;
        }
    }


    &__info{

        p{
            text-align: justify;
            line-height: 1.7
        }

    }


    &__image{
        margin-bottom: 3rem;
        overflow: hidden;

        figure{

            img{
                transition: all 350ms ease-in-out;
                &:hover{
                    transform: scale(1.01);
                }
            }
        }
    }

}