@use '../variables' as v;
@use '../mixins' as m;

.hero{
    position: relative;
    background: v.$brightdarkBlue;
    color: v.$white;
    &__content{
        text-align: center;
        
        p{
            font-size: v.$font-lg;
        }

        @include m.breakpoint-down(small){
            padding: 3rem;
        }
    }
}

