@use '../mixins' as m;

.post{

    &__grid-item{
        width: 100% ;
        overflow: hidden;
    }

    &__image{
        width: 100%;
        height: 15.625rem;
        background-size: cover;
    }


}